<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      {% block title %}

      {% endblock title %}
    </title>


    {% include 'components/_links.html' %}

</head>
<body>

<header>

    {% include 'components/_navbar.html' %}

    {% block carousel %}

    {% include 'components/_carousel.html' %}

    {% endblock carousel %}




</header>

<main>

    {% block main %}

    {% endblock main %}

</main>


{% include 'components/_footer.html'%}

{% include 'components/_scripts.html' %}

</body>
</html>





