<footer class="bg-primary text-white text-center text-lg-start">

    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Готовьте с нами</h5>

                <p>
                    Ищите рецепты всех категорий.
                    В каждом рецепте указаны нужные вам ингредиенты и продукты, а далее изложена инструкция
                    по их приготовлению. Готовьте, варите, жарьте, парьте, пробуйте - наслаждайтесь!
                </p>
            </div>

        </div>
        <!--Grid row-->
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Cookite
    </div>

</footer>