{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'book/images/logo.png' %}" alt="" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Все категории
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category_page' category.id %}">{{ category.title }}</a></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Другие категории будут скоро!</a></li>
                    </ul>
                </li>
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
                <!--                    </li>-->
            </ul>
            <!--                <form class="d-flex" role="search">-->
            <!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
            <!--                </form>-->
        </div>
    </div>
</nav>